

body {
    background-color: purple;
    margin: 2;
    padding: 2;
    font-family:'Times New Roman', Times, serif;
}

header{
    background-color: rgb(red, green, blue);
    height: 110 px;
}
h1{
    float: center;
    margin-left: 25px;
    margin-right: 30px;
    color: solid black;
    text-shadow: 10px 10px 10px red;
}

ul{
    padding: 0;
    margin:auto;
}
#image-one{
    background-color: orange;
    height: 100px;
    border: 7px orangered;
}

#images{
    background-color: orange
    height: 50px;
    border: 7px orangered;
}

img{
    height: 200px;
    backgorund-color: orange;
    border: 10px rgb(red, green, blue);
}

a{
    text-decoration: none;
}

section {
    text-align: center;
    align-items: center;
}

article{
    text-align: left;
    border: 8px purple;
}
article img{
    background-color: blueviolet;
}